<?xml version="1.0"?>
<robot name="rdv_3d_mapping_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:include filename="$(find ros_rdv_3d_mapping_camera_model)/urdf/_3d_mapping_camera_frame.urdf.xacro" />

<!--
  <link name="base_link" />
  <xacro:sensor_d435 parent="base_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin xyz="0 0 0" rpy="1.57 0 0"/>
  </xacro:sensor_d435>
-->
  <link name="base_link">
      <visual>
          <geometry>
              <cylinder length="0.01" radius="0.1"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 0.005"/>
          <material name="yellow">
              <color rgba="1 1 0 1"/>
          </material>
      </visual>
  </link>

  <joint name="base_pole_joint" type="fixed">
      <parent link="base_link"/>
      <child link="pole_link"/>
      <origin xyz="0.0 0.0 0.01" rpy="0 0 0"/>
  </joint>

  <link name="pole_link" parent="base_pole_joint" >
      <visual>
          <geometry>
              <cylinder length="1.5" radius="0.015"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 0.75"/>
          <material name="red">
              <color rgba="1 0 0 1"/>
          </material>
      </visual>
  </link>

  <joint name="camera_pole_joint" type="fixed">
      <parent link="pole_link"/>
      <child link="camera_frame_link"/>
      <origin xyz="0.0 0.0 1.5" rpy="0 0 0"/>
  </joint>

  <link name="camera_frame_link" />

    <xacro:camera_frame parent="camera_frame_link" name="camera_frame">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:camera_frame>

<!--
  <xacro:sensor_d435 parent="camera_00_pose_link" name="camera_01"  use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_d435>

  <xacro:sensor_d435 parent="camera_01_pose_link" name="camera_02"  use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_d435>
-->
</robot>
