<?xml version="1.0"?>
<robot name="rdv_3d_mapping_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="use_nominal_extrinsics" default="false"/>
  <xacro:include filename="$(find rdv_3d_mapping_camera)/urdf/_d435.urdf.xacro" />

<!--
  <link name="base_link" />
  <xacro:sensor_d435 parent="base_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin xyz="0 0 0" rpy="1.57 0 0"/>
  </xacro:sensor_d435>
-->
  <link name="base_link">
      <visual>
          <geometry>
              <cylinder length="0.01" radius="0.1"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 0.005"/>
          <material name="yellow">
              <color rgba="1 1 0 1"/>
          </material>
      </visual>
  </link>

  <joint name="base_pole_joint" type="fixed">
      <parent link="base_link"/>
      <child link="pole_link"/>
      <origin xyz="0.0 0.0 0.01" rpy="0 0 0"/>
  </joint>

  <link name="pole_link" parent="base_pole_joint" >
      <visual>
          <geometry>
              <cylinder length="2.0" radius="0.015"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 1.0"/>
          <material name="red">
              <color rgba="1 0 0 1"/>
          </material>
      </visual>
  </link>

  <joint name="top_pole_joint" type="fixed">
      <parent link="pole_link"/>
      <child link="top_link"/>
      <origin xyz="0.0 0.0 2.0" rpy="0 0 0"/>
  </joint>

    <link name="top_link" parent="top_pole_joint" >
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <!-- <mesh filename="package://rdv_3d_mapping_camera/meshes/ASSY_BEER_RANGE_360_angle.stl" scale=".0254 .0254 .0254"/> -->
                <mesh filename="package://rdv_3d_mapping_camera/meshes/ASSY_BEER_RANGE_360_angle.stl" />
            </geometry>
        </visual>
    </link>

<!--
  <link name="top_link" parent="top_pole_joint" />
-->

  <xacro:sensor_d435 parent="top_link" name="camera_01"  use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin xyz="0.1 0 0" rpy="1.57 0 0"/>
  </xacro:sensor_d435>

  <xacro:sensor_d435 parent="top_link" name="camera_02"  use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin xyz="-0.1 0 0" rpy="1.57 0 3.1456"/>
  </xacro:sensor_d435>

</robot>
